.text-purple {
    color: purple;
  }

  @media (max-width: 768px) {
    .navbar-icons {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  
    .navbar-nav .dropdown-menu {
      position: static;
      float: none;
    }
  }
